<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Name: Dailee Howard
        File: home.html
        Description: Home page for Bow-Meow Dates.
    -->

    <meta charset="UTF-8">
    <title>Bow-Meow Dates</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container-fluid row-cols-10 p-3">
        <!-- Navigation -->
        <ul class="nav nav-justified">
            <li class="nav-item active"><a href="{{ @BASE }}">Home</a></li>
            <li class="nav-item"><a href="">Login</a></li>
            <li class="nav-item"><a href="">Success Stories</a></li>
            <li class="nav-item"><a href="">Contact Us</a></li>
        </ul>

        <div class="float-left col-6 container-fluid pt-4">
            <h2>Bow-Meow Dates</h2>

            <p>Welcome to a dating site specifically for your pet! At Bow-Meow Dates, we pride ourselves in highlighting
            your pet's most unique qualities, for them to find that special someone. Through our species-specific
            questionnaires and our vast databases of other pet-seeking-pet profiles, we can match your pet with the one
            to be within seconds! Just take a look below to see how happy other pets are who've found their soulmates
            through Bow-Meow Dates!</p>

            <h5>Recent Raving Reviews</h5>

            <div class="container-fluid col-10 pt-2 border-top border-bottom">
                <p><i>"Ruff ruff ruff-ruff ruff ruffer-ruff ruff!" - Mike</i></p>
                <p><i>"Meow meoooow meow meow-meow meow." - Princess</i></p>
                <p><i>"Woof-woof woof woof!!" - Rover</i></p>
            </div>

            <!-- Submit Button -->
            <div class="pt-3 text-center">
                <a id="submitButton" class="btn btn-primary" href="personal-information">Create a Profile!</a>
            </div>
        </div>

        <!-- Image -->
        <div class="float-right col-6 container-fluid pt-4">
            <img class="img-fluid img-thumbnail" src="images/pets.jpg" alt="pets">
        </div>
    </div>
</body>
</html>