<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Name: Dailee Howard
        File: interests-form.html
        Description: Interests page for Bow-Meow Dates.
    -->

    <meta charset="UTF-8">
    <title>Create A Profile!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="p-3">
        <!-- Navigation -->
        <ul class="nav nav-justified">
            <li class="nav-item active"><a href="{{ @BASE }}">Home</a></li>
            <li class="nav-item"><a href="">Login</a></li>
            <li class="nav-item"><a href="">Success Stories</a></li>
            <li class="nav-item"><a href="">Contact Us</a></li>
        </ul>

        <div class="container-fluid row-cols-12 p-5">
            <h1>Interests</h1>
            <hr>

            <div class="container-fluid">
                <!-- Form -->
                <form method="post" action="#">
                    <div class="form-group">
                        <label><strong>Indoor Interests</strong></label>
                        <br>

                        <div class="row">
                            <repeat group="{{ @indoorInterests }}" value="{{ @indoorInterest }}">
                                <div class="col-3">
                                    <label>
                                        <input type="checkbox" name="indoor[]" value="{{ @indoorInterest }}"
                                        <check if="{{ @indoorInterest == @indoor }}">
                                            checked
                                        </check>
                                        > {{ ucfirst(@indoorInterest) }}
                                    </label>
                                </div>
                            </repeat>
                        </div>
                    </div>

                    <check if="{{ isset(@errors['indoor']) }}">
                        {{ @errors["indoor"] }}
                    </check>
                    <br>

                    <div class="form-group">
                        <label><strong>Outdoor Interests</strong></label>
                        <br>

                        <div class="row">
                            <repeat group="{{ @outdoorInterests }}" value="{{ @outdoorInterest }}">
                                <div class="col-3">
                                    <label>
                                        <input type="checkbox" name="outdoor[]" value="{{ @outdoorInterest }}"
                                        <check if="{{ @outdoorInterest == @outdoor }}">
                                            checked
                                        </check>
                                        > {{ ucfirst(@outdoorInterest) }}
                                    </label>
                                </div>
                            </repeat>
                        </div>
                    </div>

                    <check if="{{ isset(@errors['outdoor']) }}">
                        {{ @errors["outdoor"] }}
                    </check>

                    <!-- Next Button -->
                    <input type="submit" value="Next >" id="submitButton" class="btn btn-primary float-right">
                </form>
            </div>
        </div>
    </div>
</body>
</html>