<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Name: Dailee Howard
        File: profile-form.html
        Description: Profile page for Bow-Meow Dates.
    -->

    <meta charset="UTF-8">
    <title>Create A Profile!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="p-3">
        <!-- Navigation -->
        <ul class="nav nav-justified">
            <li class="nav-item active"><a href="{{ @BASE }}">Home</a></li>
            <li class="nav-item"><a href="">Login</a></li>
            <li class="nav-item"><a href="">Success Stories</a></li>
            <li class="nav-item"><a href="">Contact Us</a></li>
        </ul>

        <div class="container-fluid row-cols-12 p-5">
            <h1>Profile</h1>
            <hr>

            <!-- Form -->
            <form method="post" action="#">
                <div class="container-fluid col-6 float-left">
                    <div class="container-fluid form-group">
                        <label><strong>Email</strong></label>
                        <br>
                        <input class="form-control" type="email" name="email" value="{{ @email }}">

                        <check if="{{ isset(@errors['email']) }}">
                            {{ @errors["email"] }}
                        </check>
                    </div>

                    <div class="container-fluid form-group">
                        <label><strong>State</strong></label>
                        <br>
                        <input class="form-control" type="text" name="state">
                    </div>

                    <div class="container-fluid form-group">
                        <label><strong>Seeking</strong></label>
                        <br>
                        <input type="radio" name="seeking" id="male" value="male">&nbsp;&nbsp;Male
                        &nbsp;&nbsp;
                        <input type="radio" name="seeking" id="female" value="female">&nbsp;&nbsp;Female
                    </div>
                </div>

                <div class="container-fluid col-6 float-right">
                    <div class="container-fluid form-group">
                        <label><strong>Biography</strong></label>
                        <br>
                        <textarea class="form-control" name="biography"></textarea>
                    </div>
                </div>

                <!-- Next Button -->
                <input type="submit" value="Next >" id="submitButton" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
</body>
</html>