/*
    Name: Dailee Howard
    File: styles.css
    Description: This file contains the stylings for the views.
 */

h2, h5
{
    text-align: center;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

img
{
    justify-content: right;
}

#submitButton
{
    clear: both;
}

#centerButton
{
    text-align: center;
}

.vertical-align
{
    height: 50px;
    line-height: 50px;
}

.center
{
    text-align: center;
}

.larger-text
{
    font-size: 22px;
}

.align-vertical-parent
{
    padding: 3px 0;
}

.align-vertical-child
{
    padding: 6px 0;
}

.wrapped-text
{
    word-wrap: break-word;
}