/*
    Name: Dailee Howard
    Date: January 28th, 2021
    File: styles.css
 */

h2, h5
{
    text-align: center;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

img
{
    justify-content: right;
}